* {
    font-family: Georgia;
}

p {
    color: red;
    text-align: center;
    line-height: 30px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

a {
    color: rgb(0, 255, 0);
    text-decoration: none;
}

button {
    background-color: white;
    color: blueviolet;
}

textarea {
    color: #000000;
}

span {
    text-decoration: underline;
}