section {
    margin-top: 100px;
}

div {
    height: 50px;
    width: 200px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px auto;
}

div:nth-of-type(2n) {
    background-color: #f7db6a;
}

div:nth-of-type(3n) {
    background-color: #ebb02d;
}

/* Transform */

.one {
    /* Also rotate(-/+ 0 to 360 deg) */
    transform: rotate(45deg);
}

.two {
    /* Also scaleX, scaleY, scale(X, Y) */
    transform: scale(0.5);
}

.three {
    transform: translate(-50px, -10px);
}

.four {
    transform: skew(30deg);
}

.five {
    transform: rotate(30deg) translate(150px);
}