:root {
    --primaty-color: red;
    --custom-width: 350px;
}

.container {
    height: 600px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin: 3px;
    padding: 2px;
}

.box {
    height: 330px;
    width: 330px;
    border: 3px solid var(--primaty-color);
    margin: 3px;
    background-color: aqua;
    /* box-shadow: 10px 15px black; */
    /* box-shadow: 10px 15px 5px black; */
    /* box-shadow: 10px 15px 5px 80px black; */
    /* box-shadow: inset 10px 15px brown; */
    box-shadow: 10px 15px black, -10px -15px red;
}

img {
    height: 150px;
    width: 150px;
}

#head {
    text-shadow: 2px 2px 1px white;
}