*{
    text-align: center;
}

#facebook{
    color: rgb(13, 118, 246);
    font-family: Arial, Helvetica, sans-serif;
}

#p1{
    font-size: x-large;
    font-weight: bolder;
}

#p2{
    font-size: medium;
    color: gray;
} 

#termsandcondition{
    font-size: small;
    color: gray;
}

button{
    font-size: 30px;
    border-radius: 25px;
    background-color: green;
    color: white;
}