<%- layout("layouts/boilerplate") %>
<!-- This line specifies the layout file to be used for this view -->
<div class="row">
  <div class="col-8 offset-2">
    <div class="mb-3"></div>
    <h3>Create a New Listing</h3>
    <form
      method="post"
      action="/listings"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          placeholder="Enter a catchy title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Please enter a valid title!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          id="description"
          name="listing[description]"
          cols="30"
          rows="10"
          placeholder="Write description here...."
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter the description!</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image:</label>
        <input
          type="file"
          id="image"
          name="listing[image]"
          class="form-control"
          required
        />
        <!-- You may add validation for the image URL if required -->
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            id="price"
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid price!</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country:</label>
          <input
            type="text"
            id="country"
            name="listing[country]"
            placeholder="India"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter the country name!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          type="text"
          id="location"
          name="listing[location]"
          placeholder="Jaipur, Rajasthan"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Please enter the location name!</div>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-dark add-btn">Add</button>
      </div>
    </form>
  </div>
</div>
