div {
    height: 200px;
    width: 500px;
    background-color: yellow;
    /* This is individuals style you can add but another one shorthand property is there */
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    border: 5px dashed black;
    border-top : 5px double blue;
    border-bottom: 5px double blue;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 20px;
    /* Margin is same as padding but it uses outside of your elements */
    margin: 50px;
}

h1 {
    border: 2px dashed red;
}

button {
    border-radius: 25px;
    /* Clock wise direction --> Top, Right, Bottom, Left */
    /* padding: 1px 2px 3px 4px; */
    /* Top, Right = Left, Bottom */
    /* padding: 1px 2px 3px; */
    /* Top = Bottom, Right = Left */
    /* padding: 1px 2px */
    padding-left: 15px;
    padding-right: 15px;
    background-color: pink;
}