.container {
    height: 300px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    /* Main axis */
    flex-direction: row;
    /* Main axis */
    justify-content: flex-start;
    /* Cross axis */
    /* flex-wrap: wrap; By default :- nowrap */
    /* Cross axis */
    align-items: flex-start;
    /* Cross axis */
    align-content: flex-start;
}

.sixth {
    /* Cross axis */
    align-self: flex-end;
    /* Set accordingly flex-direction Main Axis */
    /* flex-basis: 100px; */
    flex-grow: 1;
}

.four {
    flex-grow: 2;
}

h1 {
    text-align: center;
}

.container div {
    height: 100px;
    width: 100px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}