.container {
    height: 50px;
    width: 900px;
    border: 2px solid lightseagreen;
    background-color: pink;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    border-radius: 10px;
}

.container div {
    height: 50px;
    width: 80px;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    font-weight: normal;
}