<%- include("includes/head.ejs") %>
<body>
    <h1>This is a home page</h1>
    <h3><%= 1 + 2 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum dolorem quibusdam repudiandae molestias inventore ipsum labore? Sed fuga cupiditate soluta adipisci voluptatem quod eius consequuntur doloremque veniam, sequi consectetur alias!</p>
    <button>Submit</button>
    <hr>
    <%- include("includes/footer.ejs") %>
</body>
</html>