<%- include("includes/head.ejs") %>
<body>
    <h3>Dice gave value: <%= diceVal %></h3>
    <% if(diceVal == 6) { %>
        <h2>Nice! Roll dice again.</h2>
    <% } %>
    <%- include("includes/footer.ejs") %>
</body>
</html>