.box {
  height: 150px;
  width: 150px;
  border: 1px solid black;
}

.one {
  background-color: aquamarine;
  position: relative;
  z-index: 0;
}

.two {
  background-color: coral;
  position: relative;
  bottom: 50px;
  z-index: -1;
}

.three {
  background-color: pink;
}