body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: maroon;
}

.post {
    margin-bottom: 20px;
    background-color: blanchedalmond;
}

.user {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}