div {
    height: 100px;
    width: 100px;
    background-color: brown;
    margin: 0 auto;
    transition: margin-top 5s ease-in-out 0.2s;
    margin-top: 15px;
}

div:hover {
    background-color: blue;
    margin-top: 400px;
}