.outer {
    height: 200px;
    width: 70px;
    border: 2px solid black;
}

.inner {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid black;
}

.one {
    background-color: red;
    margin: 10px;
}

.two {
    background-color: yellow;
    margin: 10px;
}

.three {
    background-color: green;
    margin: 10px;
}