<div class="box" style="background-color: aliceblue; text-align: center;">
    Copyright @2024 - All rights reserved - <a href="https://www.linkedin.com/in/rodrigo-ferreira-oliveira-7b1b3b1b/" target="_blank">Rodrigo Ferreira Oliveira</a>
</div>