.card {
    width: 30vw;
    height: 30vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: 1em;
    padding: 1em;
    border: 2px solid black;
}

.card:hover {
    border: 2px solid #646cff;
}

img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}