.container {
    width: 600px;
    height: 500px;
    border: 1px solid black;
    display: grid;
    margin: 10px auto;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
}

.box {
    background-color: pink;
    border: 1px solid black;
    color: black;
}

.header {
    grid-column: 1/13;
}

.sidebar {
    grid-column: 1/4;
    grid-row: 2/12;
}

.navigation {
    grid-column: 4/9;
}

.ads {
    grid-column: 9/13;
    grid-row: 2/12;
}

.main {
    grid-row: 3/12;
    grid-column: 4/9;
}

.footer {
    grid-column: 1/13;
}

@media(max-width: 720px){
    /* .mediacontainer {
        width: 600px;
        height: 500px;
        border: 1px solid black;
        display: grid;
        margin: 10px auto;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 10px;
        z-index: 0;
        position: relative;
        top: 550px;
    }
    
    .box {
        background-color: pink;
        border: 1px solid black;
        color: black;
    } */
       
     .navigation {
        grid-column: 1/13;
    }
    .sidebar {
        grid-column: 1/4;
        grid-row: 3/12;
    }
    .main {
        grid-column: 4/13;
        grid-row: 3/12;
    }
    .ads {
        grid-row: 12;
        grid-column: 1/4;
    }

    .footer {
        grid-column: 4/13;
    }
}